a.scl-tip{
    border-bottom:1px dashed;
    color:inherit;
}
a.scl-tip{
    text-decoration:none;
    color:inherit;
}
a.scl-tip:hover{
    border-bottom:none;
}
table.scl td, table.scl th{
    border:1px dashed #CCC;
    padding:3px 5px;
    vertical-align: middle;
}
.sclFutureSuplr{
    height: 12px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.sclFutureSuplr > i{
    width: 12px;
    height: 12px;
    border-right: 1px solid #AAA;
    margin-right: 1px;;
    display: inline-block;
}
.sclFutureSuplr > i.c0{
    background: #CCC;
}
.sclFutureSuplr > i.c1{
    background: #00AA00;
}
