/* стили для TINYMCE */

.ctext p {
    margin: 0 0 13px;
    line-height: 18px;
}
.ctext.justify p {
    text-align: justify;
}

.ctext ul {
    margin: 10px 0 10px 0;
    padding: 0;
    left: 20px;
}

.ctext ul li {
    padding: 0 0 10px 18px;
    list-style-position: outside;
    list-style: none;
    background: url(/app/images/bg-li-list-02.png) 0px 3px no-repeat;
    padding-right: 20px;
    line-height: 18px;
}

.ctext ol {
    margin: 10px 0 10px 0;
    display: table;
    padding: 0;
    position: relative;
    left: 20px;
}

.ctext ol li {
    list-style: decimal;
    list-style-position: outside;
    background: 0;
    padding: 0 0 10px 0;
    margin-left: 18px;
    display: list-item;
    padding-right: 20px;
    line-height: 18px;
}

.ctext a {
    text-decoration: underline;
    color: #5d8aea;
}

.ctext a:hover {
    text-decoration: none;
}

.ctext h1 {
    font-size: 24px;
    margin: 0 0 20px;
    font-weight: normal
}

.ctext h2 {
    font-size: 22px;
    margin: 5px 0 20px;
    font-weight: normal
}

.ctext h3 {
    font-size: 20px;
    margin: 0 0 20px;
    font-weight: normal;
    color: #010101
}

.ctext h4 {
    font-size: 18px;
    margin: 5px 0 20px;
    font-weight: bold;
    color: #010101
}

.ctext h5 {
    font-size: 16px;
    margin: 5px 0 20px;
    font-weight: bold;
    color: #010101
}

.ctext dl {
    margin: 0 0 15px;
}

.ctext dt {
    float: left;
    width: 170px;
    clear: both;
}

.ctext dd {
    margin-left: 180px;
}

.ctext table {
    border-collapse: collapse
}

.ctext caption {
    margin-bottom: 5px;
    font-weight: bold;
}

.ctext td,
.ctext th {
    border: 1px #CCC solid;
    padding: 2px 5px;
}

.ctext td {
}

.ctext th {
    font-weight: bold;
    vertical-align: middle;
}

.noindent p, p.noindent {
    text-indent: 0;
}

.bold {
    font-weight: bold;
}

.ctext .button {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: url('/app/images/a-btn.png') 0 0 no-repeat;
    padding-left: 20px;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.ctext .button span {
    display: block;
    width: 20px;
    height: 30px;
    background: url('/app/images/a-btn.png') 100% 0 no-repeat;
    position: absolute;
    top: 0;
    right: -20px;
}

.ctext .button:hover {
    background-position: 0 -30px;
}

.ctext .button:hover {
    background-position: 0 -30px;
}

.ctext .button:hover span {
    background-position: 100% -30px;
}

IMG.float-left {
    margin-right: 15px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    float: left;
    border: #ececec 1px solid
}

IMG.float-right {
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    float: right;
    border: #ececec 1px solid
}

ol.numeric-i-list {
    list-style: none;
}

ol.numeric-i-list li {
    display: block;
    margin-bottom: 10px;
    line-height: 15px;
    padding-left: 26px;
    position: relative;
    font-size: 12px;
    padding-top: 1px;
}

ol.numeric-i-list em {
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    background: url('/app/images/bg-i-list-04.png') 0 0 no-repeat;
    text-align: center;
}

blockquote {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 20px 20px 20px 25px;
    margin: 0 0 15px 15px;
    position: relative;
    line-height: 15px;
    background: #fff url('/app/images/bg-speak.png') 0 100% repeat-x;
}

blockquote > i:first-child {
    display: block;
    width: 32px;
    height: 38px;
    background: url('/app/images/qwot.png') 0 0 no-repeat;
    position: absolute;
    left: -13px;
    top: 19px;
}

blockquote.speak-yellow {
    background: #f9f9eb;
}

.nob td, .nob th {
    border: none;
}

hr {
    border: 0;
    border-bottom: 1px solid #CCC;
}

/*new*/

.title-punkt {
    position: relative;
    clear: both;
    margin-bottom: 15px;
    padding: 0 0 0 80px;
    color: #000;
    line-height: 18px;
    min-height: 34px;
    background: url('/app/images/bg-title-punkt.png') 0 0 no-repeat;
    padding-top: 2px;
    font-size: 18px;
}

.title-punkt > b:first-child {
    position: absolute;
    left: 0;
    top: 5px;
    height: 36px;
    line-height: 36px;
    width: 60px;
    text-align: center;
    font-style: normal;
    font-size: 36px;
    color: #000;
}

.title-punkt > span {
    display: block;
    color: #979797;
}

.title-punkt-blue {
    position: relative;
    clear: both;
    margin-bottom: 15px;
    padding: 0 0 0 80px;
    color: #000;
    line-height: 18px;
    min-height: 34px;
    background: url('/app/images/bg-title-box-shadow-blue2.jpg') 0 0 no-repeat;
    padding-top: 2px;
    font-size: 18px;
}

.title-punkt-blue > b:first-child {
    position: absolute;
    left: 0;
    top: 5px;
    height: 36px;
    line-height: 36px;
    width: 60px;
    text-align: center;
    font-style: normal;
    font-size: 36px;
    color: #000;
}

.title-punkt-blue > span {
    display: block;
    color: #979797;
}

.title-punkt-pod {
    position: relative;
    clear: both;
    margin-bottom: 15px;
    padding: 0 0 0 80px;
    color: #000;
    line-height: 18px;
    min-height: 34px;
    background: url('/app/images/bg-title-punkt-pod.png') 0 0 no-repeat;
    padding-top: 2px;
    font-size: 18px;
}

.title-punkt-pod > b:first-child {
    position: absolute;
    left: 0;
    top: 5px;
    height: 36px;
    line-height: 36px;
    width: 60px;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    color: #000;
}

.title-punkt-pod > b:first-child i {
    font-style: normal;
    font-size: 36px;
}

.title-punkt-pod > span {
    display: block;
    color: #979797;
}

img.fl-r-border {
    display: block;
    float: right;
    margin: 4px 0 20px 20px;
    padding: 5px;
    background-color: #fff;
    display: block;
    border: 1px solid #ececec;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.list-point-red {
    list-style: none;
    margin: 0 0 20px 0 !important;
    padding: 0 !important;
}

.list-point-red li {
    margin-bottom: 10px !important;
    padding: 0 0 0 20px !important;
    background: url('/app/images/point-red.png') 0 5px no-repeat !important;
    line-height: 18px !important;
}

.speak-red {
    border: 1px solid #d70000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 20px 20px 20px 25px;
    font-size: 12px;
    color: #3b454e;
    font-weight: bold;
    margin: 0 0 25px 15px;
    position: relative;
    line-height: 15px;
    background: #fff url('/app/images/bg-speak.png') 0 100% repeat-x;
}

.speak-red > i:first-child {
    display: block;
    width: 32px;
    height: 38px;
    background: url('/app/images/qwot.png') 0 0 no-repeat;
    position: absolute;
    left: -13px;
    top: 19px;
}

.speak-red > i {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
}

.speak-red span {
    display: block;
    font-weight: normal;
    margin-top: 15px;
}

.speak-red p {
    font-weight: normal;
    line-height: 18px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.list-number {
    margin: 5px 0 20px 0 !important;
    list-style: none;
    padding: 0 !important;
}

.list-number li {
    display: block;
    margin: 0 0 15px 0 !important;
    line-height: 18px !important;
    padding: 1px 0 0 26px !important;
    position: relative;
    font-size: 12px !important;
    color: #3b454e;
}

.list-number li > i {
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    background: url('/app/images/bg-i-list-04.png') 0 0 no-repeat;
    text-align: center;
}

.box-border-shadow {
    border: 1px solid #e0e0e0;
    background: #fff url('/app/images/bg-speak.png') 0 100% repeat-x;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}

.box-border-shadow .title-box-shadow {
    font-size: 24px;
    color: #010101;
    line-height: 24px;
    padding: 15px 0 0 80px;
    margin-bottom: 20px;
    background: url('/app/images/bg-title-box-shadow.jpg') 0 0 no-repeat;
    min-height: 55px;
}

/*new 15.01.2014*/

.list-quest {
    list-style: none !important;
    margin: 0 0px 20px 0 !important;
    padding: 0 !important;
}

.list-quest li {
    padding: 2px 0 0 30px !important;
    line-height: 18px !important;
    margin-bottom: 15px !important;
    background: url('/app/images/question-icon.gif') 0 0 no-repeat !important;
}

.box-border-shadow-blue {
    border: 1px solid #4994c1;
    background: #fff url('/app/images/bg-speak.png') 0 100% repeat-x;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}

.box-border-shadow-blue .title-box-shadow {
    font-size: 24px;
    color: #010101;
    line-height: 24px;
    padding: 15px 0 0 80px;
    margin-bottom: 20px;
    background: url('/app/images/bg-title-box-shadow-blue.jpg') 0 0 no-repeat;
    min-height: 55px;
}

.box-border-shadow-blue .title-box-shadow span {
    display: block;
    color: #979797;
}

.box-border-shadow-red {
    border: 1px solid #d70000;
    background: #fff url('/app/images/bg-speak.png') 0 100% repeat-x;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}

.box-border-shadow-red .title-box-shadow {
    font-size: 24px;
    color: #010101;
    line-height: 24px;
    padding: 15px 0 0 80px;
    margin-bottom: 20px;
    background: url('/app/images/bg-title-box-shadow-red.jpg') 0 0 no-repeat;
    min-height: 55px;
}

.box-border-shadow-red .title-box-shadow span {
    display: block;
    color: #979797;
}

img.fl-l-border {
    display: block;
    float: left;
    margin: 4px 20px 20px 0;
    padding: 5px;
    background-color: #fff;
    display: block;
    border: 1px solid #ececec;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

img.fl-b-border {
    display: block;
    margin: 0 auto 20px auto;
    padding: 5px;
    background-color: #fff;
    display: block;
    border: 1px solid #ececec;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

/*16.01.2014*/
span.h1-grey-span {
    display: block;
    font-size: 18px;
    color: #979797;
}

.box-ov {
    overflow: hidden;
}

.collum-article {
    padding: 0 20px !important;
    list-style: none !important;
    margin: 0 0 20px -65px !important;
    font-size: 13px !important;
}

.collum-article li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 38%;
    margin: 0 0 10px 65px !important;
    padding: 0 0 0 20px !important;
    background: url('../img/bg-li-list-02.png') 0 5px no-repeat;
    line-height: 18px;
}

.title-punkt-shina {
    position: relative;
    clear: both;
    margin-bottom: 15px;
    padding: 0 0 0 80px;
    color: #000;
    line-height: 18px;
    min-height: 44px;
    padding-top: 6px;
    font-size: 18px;
}

.title-punkt-shina > b:first-child {
    position: absolute;
    left: 0;
    top: 0;
    height: 36px;
    line-height: 36px;
    width: 60px;
    text-align: center;
    font-style: normal;
    font-size: 36px;
    color: #000;
}

.title-punkt-shina > span {
    display: block;
    color: #979797;
}


/* CSS EuP oformlenie stranica kontakt plitka  */

.box1-gorod {
min-width: 800px;
max-width: 100%;
}

.ct{
	height: 50px;
	background:#ffffff;
    font: 12px/1.2 Arial,sans-serif;
	text-align:left;
	float: left;
	width: 25%;
   	overflow:hidden;
	word-wrap: break-word;
	padding: 0px 15px 130px 15px;
    border: 1px solid #f6f6f6;
	}

.ct1{
	height: 50px;
	background:#f6f6f6;
	border: 1px solid #f6f6f6;
	font: 12px/1.2 Arial,sans-serif;
	text-align:left;
	float: left;
	width: 25%;
	overflow:hidden;
	word-wrap: break-word;
	padding: 0px 15px 130px 15px;
	}

	.z1 	{
	text-align:center;
	font-weight:bold;
	display:block;
	padding: 30px 0px 10px 0px;
	}
/* -konec eup */


/* Oformlenie opisaniy v kartochke tovara */

.box-ops h2 {
    font-size: 16px;
    margin: 5px 0 20px;
    font-weight: bold;
}

.box-ops h3 {
    font-size: 14px;
    margin: 0 0 20px;
    font-weight: bold;
    color: #010101
}

.box-ops h4 {
    font-size: 14px;
    margin: 5px 0 20px;
    font-weight: bold;
    color: #010101
}

.box-ops h5 {
    font-size: 12px;
    margin: 5px 0 20px;
    font-weight: bold;
    color: #010101
}

/* Oformlenie novinki 2014-2015 */
.zimwin {
		float:left;
		text-align: center;
		margin: 0px 0px 0px 7%;
}

		.zimwin ul li {
				display: inline;
				width:175px;
				margin: 0 20px 20px 0px;
				float:left;
			    padding: 0px;
		}

		.zimwin  img{
				display: block;
		}



/* oformlenie 404 */




.gr_verh{
        background: url('/cnt_images/image/404/gr-verh.png') no-repeat;

        overflow: hidden;
        margin-bottom: 0px;

}

.gr_verh p {
       text-align: center;
       font: bold 18px Arial,Tahoma,Helvetica,sans-serif;
       margin: 37px 0px 0px 0px;
}

.t-01 ul li{
       list-style-type: none !important;
       text-align: center;
       display: block;

       background: none;

}





.t-02{
    text-align: center;
    list-style-type: none !important;
    padding: 0px;
    padding-bottom: 50px;


    }

.t-02 ul li{
       list-style-type: none !important;
    padding: 0px !important;
       display: inline-block;
       background: none;



}

.ft2 {
height:186px;
vertical-align: bottom;
list-style-type: none !important;
padding: 0px;
}

.gr_niz{
        background: url('/cnt_images/image/404/gr-niz.png') repeat-x ;
        overflow: hidden;
        margin-bottom: 0px;
        height:186px;

}

.images {

margin: 0px 27% 0 27%;

}

.t03 {

text-align: center;
 border: blue solid 1px;
    overflow: hidden;
    list-style-type: none;

}


a.t-01 {
background: url("/cnt_images/image/404/knp_podbor.png");
display: inline-block;
width: 268px;
height: 105px;
}

a.t-01:hover {
background: url("/cnt_images/image/404/knp_podbor1.png");

}

.items,
.items .item {
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
}
#content .goods-01.catalog_item.tyres .item-2 .img {
    top: 3px;
    left: 5px;
    margin: 0 0 10px;
    width: 150px;
}
#content .goods-01.catalog_item.tyres .item-2 .catalog_item_r
{
    margin: 13px 0px 20px 0px;
    font-size: 11px;
}
#content .goods-01.catalog_item.tyres .item-2 .catalog_item_colors
{
    margin: 3px 0px 13px 0px;
    font-size: 11px;
}
#content .goods-01.catalog_item.tyres .item-2 .catalog_item_prices
{
    margin: 20px 0px;
    font-size: 11px;
}
.catalog_item_inner {
    padding: 10px 0;
}


.be-page {
    padding: 0 20px;
}

.be-page__desc {
    margin: 0 0 50px;
}

.be-block {
    margin: 0 0 30px;
}

.be-block__img {
    position: relative;
    overflow: hidden;
    height: 400px;
    margin: 0 0 10px;
    background: #e9e9e9;
}

.be-block__img:before {
    content: 'no image';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
}

.be-block__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 100%;
    height: auto;
}


.be-block__h1 {
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    line-height: 20px;
}

be-block__desc {
    text-align: justify;
}



.be-cl {
    overflow: hidden;
}

.be-cl--in_page {
    padding: 50px 0 0;
}

.be-cl__list {
    margin: 0 -20px;
    overflow: hidden;
    font-size: 0;
}

.be-cl__item {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: 0 0 20px;
    padding: 0 20px;
    font-size: 12px;
}

.be-cl__img {
    position: relative;
    overflow: hidden;
    height: 150px;
    margin: 0 0 10px;
    background: #e9e9e9;
}


.be-cl__img:before {
    content: 'no image';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
}


.be-cl__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 100%;
    height: auto;
}


.be-cl__h1 {
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    line-height: 20px;
}


.be-cl__subtitle {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 30px;
    line-height: 20px;
}


#content .goods-01.catalog_item_inner {
    margin: 0;
}


#content .goods-01.catalog_item_inner li {
    width: 154px;
    margin: 0 0 0 6px;
}

#content .goods-01.catalog_item_inner li:nth-child(n+6) {
    margin: 30px 0 0 6px;
}

#content .goods-01.catalog_item_inner.tyres .item-2 .img {
    width: 146px;
}

#content .goods-01.catalog_item_inner li .catalog_item_content {
    width: 144px !important;
}


nav li.dropdown:hover > .wrapper--info_list {
    display: block;
}

nav li.dropdown:hover:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 90%;
    left: 0;
}


header {
    position: relative;
    z-index: 100;
}



.speak-red>em:first-child {
    display: block;
    width: 32px;
    height: 38px;
    background: url(/app/images/qwot.png) 0 0 no-repeat;
    position: absolute;
    left: -13px;
    top: 19px;
}
.title-punkt-pod>strong:first-child {
    position: absolute;
    left: 0;
    top: 5px;
    height: 36px;
    line-height: 36px;
    width: 60px;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    color: #000;
}

#content .goods-01.catalog_item {
    padding-left: 0;
}

/*#content .goods-01.catalog_item {
    margin-left: -5px;
}*/
.ctext ul.items{
    left: 6px;
}
li.item.item-1{
    width: 156px;
}

/* Стили для блока аксессуаров бренда */
.accessories-box {
    margin-top: 10px;
    clear: both;
    padding-bottom: 25px;
}

.accessories-box h4 {
    font-size: 1em;
}

.cart_tbl .accessories-box__items-container {
    background-color: inherit;
    border: 0px;
    padding-left: 10px;
}

.accessories-box__items-container {
    background-color: #f7f7f7;
    border: 2px #eeeeee solid;
    border-radius: 2px;
    padding: 10px 25px;
}

.accessories-box__item-field {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.accessories-input-box {
    border-top: 2px lightgray solid;
    border-bottom: 2px lightgray solid;
    margin: 0 auto;
}

.footer-payment {
	float: none;
	clear: both;
	display: block;
	width: auto;
	max-width: 90%;
	height: auto;
	margin: 5px 0 0;
}


.fancybox-wrap {
    top: 50% !important;
    left: 50% !important;
    max-width: 90%;
    max-height: 90%;
    transform: translate(-50%, -50%);
    overflow: auto !important;
}

.fancybox-image {
	max-width: 620px;
	height: auto !important;
	margin: 0 auto;
}

.fancybox-iframe {
	max-width: 100%;
	height: 450px !important;
	margin: 0 auto;
}

.fancybox-inner {
	width: auto !important;
	height: auto !important;
}

.fancybox-close{
	top: 25px;
    right: 25px;
    background-size: 34px 128px;
}